@charset 'utf-8';
// 公共变量
@colorFff: #fff;
@font18: 18px;
@font24: 24px;
// 页头导航条样式
.navbar-inverse {
    .container {
        .navbar-header {
            .navbar-brand {
                color: @colorFff;
            }
        }
        .navbar-collapse {
            .navbar-nav {
                li {
                    a {
                        color: @colorFff;
                    }
                }
            }
        }
    }
}